@charset "utf-8";

/*
 http://www.colourlovers.com/print/trends/magazines/7871/Pop_Africana_|_Year1_Issue1
*/

/* Site-wide resets */
/* Site-wide resets */
/* Site-wide resets */
BODY {
	font-family:Georgia, "Times New Roman", Times, serif;
}

H1, H2, H3, H4 {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

H1 {
	margin-bottom: 5px;
	margin-top: 5px;
}

H2 {
	margin:0;
}

H2 .link {
	font-size:65%;
}

A:hover {
	background-color: blue;
	color: white;
}

/* Helpers */
/* Helpers */
/* Helpers */

.button {
	font-size:115%;
}

.leftspacer { /* don't put on the grid */
	margin-left: 10px;
}

#notice {
	background-color: yellow;
	margin-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
}

#notice P {
	padding-top: 3px;
	padding-bottom: 3px;
}

.strikeout {
	text-decoration: line-through;
	font-size: 75%;
	color: #888;
}

/* Struts */
/* Struts */
/* Struts */

.header {
	background-color: #3F4038;
}

.header H1 {
	color: white;
}

.header H1 A {
	text-decoration: none;
	color: #62BECB;
}

.header H1 A:hover {
	background: none;
}

.checklist_title A {
	text-decoration: none;
}

.checklist_title SPAN {
	font-size:60%;
	color: #888;
}

/* Checklist edit screen */
/* Checklist edit screen */
/* Checklist edit screen */

#SubmitArea {	
	padding-top:10px;
	background-color:#F2F0EA;
	padding-left:6px;
	padding-bottom:8px;
	border:1px solid #ADABA8;
}

#SubmitAreaControls {
	float: left;
}

#SubmitAreaLoading {
	float:right;
	padding-top: 6px;
	padding-right: 6px;
}

H3.emails {
	font-size:100%;
	color:#333;
	font-weight:normal;
	padding:0;
	margin:0;
}

#SubmitArea {
	width: 548px;
}

.checklistbox {
	height:15em;
	border:none;
	width: 545px;
}

.textarea {
	border-left:1px solid #ADABA8;
	border-right:1px solid #ADABA8;
	border-top:1px solid #ADABA8;
	padding: 5px;
	width: 544px;
}