<div class="grid_10">
	<div class="textblock">
		<h1>About Checklist App</h1>
		
		<h2>Why a checklist?</h2>
		<p>
			Because they reduce errors. Seriously. In our own work we noticed that if we used a checklist for
			tasks we tended to repeat -- like launching a web site for a client -- we made less mistakes, remembered
			to do every little tweak to ensure an awesome launch, and generally delivered higher-quality work.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis quam sed leo lacinia imperdiet. Integer eget
			purus orci, in sodales quam. Aenean luctus dictum aliquet. Nulla vitae nisi nec lacus iaculis bibendum nec at lectus.
			In rhoncus tempor elit ac faucibus. Donec non ante at ligula bibendum vestibulum. Vestibulum ante ipsum primis in
			faucibus orci luctus et ultrices posuere cubilia Curae; Nam adipiscing lacus in lectus vulputate sit amet adipiscing
			metus egestas. Morbi malesuada mollis ullamcorper. Integer nec neque augue, vel pretium quam. Mauris sit amet elit
			id justo egestas posuere.
		</p>
		
		<p>
			Donec condimentum viverra fermentum. Curabitur at orci sapien, eu aliquam dolor. Phasellus lobortis adipiscing
			nulla ac dictum. Cras commodo consequat aliquam. Aliquam vulputate adipiscing ligula, sed viverra dolor ultricies
			id. Mauris condimentum nisi vitae enim dignissim sit amet vulputate risus porttitor. Morbi non dignissim dui. Ut
			suscipit imperdiet ornare. Fusce id eros vitae mauris faucibus pulvinar eleifend ut tortor. Morbi interdum dapibus
			odio, vitae hendrerit arcu gravida sit amet. Aliquam placerat, nisl varius sodales dictum, enim justo mollis nunc,
			dignissim placerat erat ligula ac augue. Mauris fringilla viverra libero, nec suscipit erat malesuada a. Sed rutrum
			molestie erat, nec pellentesque elit porttitor quis. Quisque et ante lorem, at molestie lacus. Proin sit amet aliquet
			tellus. Nam cursus iaculis est, quis accumsan orci cursus eget.
		</p>
		
		<p>
			Proin porttitor, est sed pellentesque semper, nulla augue facilisis nulla, in interdum tellus libero a ipsum. Nunc lectus
			quam, laoreet ut varius quis, viverra nec sem. Ut est leo, placerat non accumsan sit amet, consequat et nisi. Curabitur
			non massa sit amet lorem congue egestas ac quis ipsum. Nunc est lacus, ornare at sagittis nec, faucibus eu risus. Vivamus
			tristique placerat sagittis. Cras dignissim, felis in dapibus luctus, nunc felis mollis nisl, a sodales tortor quam vestibulum
			augue. Pellentesque massa libero, consequat vel ultrices nec, egestas eu arcu. In tempus pellentesque accumsan. Vivamus eleifend
			commodo varius. Aliquam erat volutpat. Curabitur non tristique est. Praesent quis lobortis ipsum. Class aptent taciti
			sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec dictum risus fermentum turpis volutpat pharetra.
			Sed porttitor, sapien sit amet tempor iaculis, risus leo congue nisi, quis tincidunt augue nunc vitae lectus. 
		</p>
	</div>
</div>