<% content_for(:title, 'Edit your checklist') %>
<div class="grid_7">
	<br />

	<%= form_for @checklist do %>
	
		<div class="textarea">
			<%= text_area_tag('checklist[list]',@checklist.list,:id=>'ChecklistBody',:rows=>6,:cols=>25,:class=>'checklistbox') %><br />
		</div>
		
		<div id="SubmitArea">
			<div id="SubmitAreaControls">
				<%= submit_tag 'Save', :class=>'button' %>
				<%= link_to 'Cancel', checklists_path, :title=>'Return to checklist listing page' %>
			</div>
			<br clear="all" />
		</div>
	
	<% end %>

</div>

<div class="grid_5">
	<br />
	<div id="PreviewBox" class="leftspacer"></div>
</div>