<% content_for(:title, 'Listing checklists') %>
<div class="grid_8">
	
	<% @checklists.each do |checklist| %>
		<h2 class="checklist_title">
			<%= link_to checklist.title, checklist, :title=>'Fill out the checklist' %>
			<span>updated <%= time_ago_in_words checklist.updated_at %></span>
		</h2>
		
		<ol>
		<% checklist.list.each do |item| %>
			<li><%= item %></li>
		<% end %>
		</ol>		
	<% end %>
	
</div>

<div class="grid_4">
	<p><%= link_to 'New Checklist', new_checklist_path %></p>
	
	<h2>Users</h2>
	
</div>